body {
  font-family: 'Domine', serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(248, 230, 191);
}

/* jumbotron styling  */

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(17, 47, 7);
  border-radius: 0;
  border-bottom: 10px solid rgb(76, 23, 1);
}


h1 {
  padding-bottom: 5px; /* added some padding to the jumbotron to space out elements a little bit  */
}

.lead {
  padding-bottom: 5px;
}

#currentDay {
  font-size: 40px;
  font-weight: 400;
  color: #612107;
  padding-top: 15px;
  padding-bottom: 15px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: rgb(10, 36, 1);
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

/* time block & text area styling */

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(156, 194, 8);
  border-radius: 15px;
}

.hour {
  background-color: #f3a20c;
  color: rgb(40, 78, 21);
  border: 1px solid #5b4902;
  border-radius: 15px 0px 0px 15px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 600;
}

/* hourColorCode styling */

.past {
  background-color: #a67c11;
  color: white;
}

.present {
  background-color: #d3b362;
  color: white;
}

.future {
  background-color: #556440;
  color: white;
}

/* button styling */
.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #c68817;
  color: rgb(37, 107, 7);
  border-right: 165px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clear-button {
  padding: 25px;
  color: rgb(140, 69, 15);
  background-color: #f3a20c;
  border-radius: 15px;
  border: 2px solid rgb(21, 65, 6);
  font-size: 18px;
}

/* mobile device styling */

@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 10%;

    border-radius: 5px;
  }

  .saveBtn {
    border: 0;
    border-radius: 5px;
    height: 50px;
  }

  textarea {
    min-height: 80px;
    border: 0;
  }

}
