body {
  font-family: 'Domine', serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(248, 230, 191);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: rgb(14, 43, 4);
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(39, 91, 22);
  border-radius: 0;
  border-bottom: 10px solid rgb(76, 23, 1);
}

h1 {
  padding-bottom: 5px;
}

.lead {
  padding-bottom: 5px;
}

#currentDay {
  font-size: 40px;
  font-weight: 400;
  color: #612107;
  padding-top: 15px;
  padding-bottom: 15px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(156, 194, 8);
  border-radius: 15px;
}

.hour {
  background-color: #f3a20c;
  color: rgb(40, 78, 21);
  border: 1px solid #5b4902;
  border-radius: 15px 0px 0px 15px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 600;
}

.past {
  background-color: #a67c11;
  color: white;
}

.present {
  background-color: #d3b362;
  color: white;
}

.future {
  background-color: #8da782;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #c68817;
  color: rgb(37, 107, 7);
  border-right: 165px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clear-button {
  padding: 25px;
  color: rgb(37, 113, 11);
  background-color: #f3a20c;
  border-radius: 15px;
  border: 2px solid rgb(77, 77, 3);
  font-size: 18px;
}
